* {
  margin: 0;
  padding: 0;
}

* .app {
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

* .main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* a {
  text-decoration: none;
  color: black;
}

* li {
  list-style: none;
}

* input {
  outline: 0;
}

* button {
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
}

.todo-section {
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .todo-section {
    width: 90vw;
  }
}

@media (min-width: 1200px) {
  .todo-section {
    width: calc(0.9 * (100vw - 300px));
  }
}

.todo-section .no-categories-text {
  margin-top: 20px;
}

.todo-section .current-category {
  margin-top: 20px;
  color: black;
  font-weight: normal;
  font-style: italic;
  color: #555;
}

.todo-section .current-category span.curr-cat {
  margin-left: 3px;
  color: #3dbd99;
  font-weight: bold;
  font-style: normal;
}

.todo-section .todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.todo-section .todo-form .todo-input {
  font-size: 1rem;
  width: calc( 100%  - 2 * (7px + 2px)  - 60px  - 5px);
  padding: 7px 7px;
}

.todo-section .todo-form .todo-input.active {
  width: calc( 100%  - 2 * (7px + 2px)  - 36px  - 60px  - 2 * 5px);
}

.todo-section .todo-form .submit-btn, .todo-section .todo-form .clear-btn {
  padding: 6px 0;
  margin-left: 5px;
}

.todo-section .todo-form .clear-btn {
  display: none;
  width: 36px;
  background: black;
}

.todo-section .todo-form .clear-btn.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-section .todo-form .clear-btn .clear-icon {
  width: 14px;
  height: 14px;
}

.todo-section .todo-form .submit-btn {
  width: 60px;
  background: #3dbd99;
  color: white;
  font-size: 0.95rem;
}

.todo-section .todo-list {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .todo-section .todo-list {
    overflow-y: scroll;
    max-height: calc(100vh - 50px - 130px);
  }
}

.todo-section .todo-list .todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-bottom: 1px #ccc solid;
}

.todo-section .todo-list .todo-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.todo-section .todo-list .todo-item.completed .task-text {
  font-style: italic;
  text-decoration: line-through;
}

.todo-section .todo-list .todo-item .task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.todo-section .todo-list .todo-item .task-container .task-checkbox {
  width: 18px;
  height: 18px;
}

.todo-section .todo-list .todo-item .task-container .task-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  margin-left: 10px;
  font-size: 1.1rem;
}

.todo-section .todo-list .todo-item .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-section .todo-list .todo-item .options .edit-btn, .todo-section .todo-list .todo-item .options .delete-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background: transparent;
}

.todo-section .todo-list .todo-item .options .edit-btn .todo-icon, .todo-section .todo-list .todo-item .options .delete-btn .todo-icon {
  width: 19px;
  height: 19px;
}

.todo-section .todo-list .todo-item .options .delete-btn {
  margin-left: 2px;
}
/*# sourceMappingURL=todos.css.map */