@import '../_global/style.scss';

// Current Category
$current-category-mt: 20px;
$current-category-color: black;

// Todo Form
$todo-form-mt: 10px;

// Input
$input-padding-horizontal: 7px;
$input-padding-vertical: 7px;
$input-font-size: 1rem;

// Input Buttons
$clear-btn-width: 36px;
$clear-icon-size: 14px;
$submit-btn-width: 60px;
$submit-font-size: 0.95rem;
$input-btn-ml: 5px;
$input-btn-padding: 6px 0;

// Todo List
$todo-list-mt: 20px;

// Todo Item
$todo-padding: 10px 10px;
$todo-mb: 10px;

// Task
$task-max-width: 60%;
$task-ml: 10px;
$task-font-size: 1.1rem;
$checkbox-size: 18px;

// Todo Item Buttons
$todo-icon-size: 19px;
$todo-buttons-padding: 5px;
$todo-buttons-ml: 2px;

.todo-page {
    display: flex;

    // Sidebar
    @import '../sidebar/sidebar.scss';

    // Rest of the page
    .todo-section {
        width: calc(0.9 * (100vw - #{$sidebar-width}));
        margin: 0 auto;
    
        .current-category {
            margin-top: $current-category-mt;
            color: $current-category-color;
            font-weight: lighter;
            text-transform: uppercase;
        }
    
        .todo-form {
            display: flex;
            margin-top: $todo-form-mt;

            .todo-input {
                font-size: $input-font-size;
                // Input width is 100% of the form subscracted by 2 * (input horizontal padding + 2px for input border),
                // the submit button width and the margin left between the input and the submit button 
                // in order for the input to fit in nicely
                width: calc(
                    100% 
                    - 2 * (#{$input-padding-horizontal} + 2px) 
                    - #{$submit-btn-width} 
                    - #{$input-btn-ml}
                );
                padding: $input-padding-vertical $input-padding-horizontal;
                &.active {
                    // When there is something in current, the clear button is displayed,
                    // so add its width to the substraction along with one additional margin left
                    width: calc(
                        100% 
                        - 2 * (#{$input-padding-horizontal} + 2px) 
                        - #{$clear-btn-width} 
                        - #{$submit-btn-width} 
                        - 2 * #{$input-btn-ml}
                    );
                }
            }

            .submit-btn, .clear-btn {
                padding: $input-btn-padding;
                margin-left: $input-btn-ml;
            }

            .clear-btn {
                display: none;
                width: $clear-btn-width;
                background: black;
                &.active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .clear-icon {
                    width: $clear-icon-size;
                    height: $clear-icon-size;
                }
            }
            
            .submit-btn {
                width: $submit-btn-width;
                background: $color-primary;
                color: white;
                font-size: $submit-font-size;
            }
        }
    
        .todo-list {
            margin-top: $todo-list-mt;
    
            .todo-item {
                display: flex;
                justify-content: space-between;
                margin-bottom: $todo-mb;
                padding: $todo-padding;
                border-bottom: 1px #ccc solid;
                &:last-child {
                    margin-bottom: 0;
                    border-bottom: 0;
                }

                .task-container {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .task-checkbox {
                        width: $checkbox-size;
                        height: $checkbox-size;
                    }

                    .task-text {
                        display: flex;
                        align-items: center;
                        max-width: $task-max-width;
                        margin-left: $task-ml;
                        font-size: $task-font-size;
                    }
                }
    
    
                .options {
                    display: flex;

                    .edit-btn, .delete-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: $todo-buttons-padding;
                        background: transparent;
                        
                        .todo-icon {
                            width: $todo-icon-size;
                            height: $todo-icon-size;
                        }
                    }
        
                    .delete-btn {
                        margin-left: $todo-buttons-ml;
                    }
                }
            }
        }
    }
}