@import '../_global/style.scss';

// Input Form Variables
$input-padding-horizontal: 5px;
$input-padding-vertical: 5px;

$submit-btn-width: 60px;
$clear-btn-width: 30px;
$input-btn-ml: 5px;

.todo-page {
    display: flex;

    // Sidebar
    @import '../sidebar/sidebar.scss';

    // Rest of the page
    .todo-section {
        width: calc(0.9 * (100vw - #{$sidebar-width}));
        margin: 0 auto;
    
        .current-category {
            margin-top: 20px;
        }
    
        .todo-form {
            margin-top: 20px;

            .add-new-text {
                margin-bottom: 5px;
                font-weight: bold;
            }

            .todo-input {
                // Input width is 100% of the form subscracted by 2 * (input horizontal padding + 2px for input border),
                // the submit button width and the margin left between the input and the submit button 
                // in order for the input to fit in nicely
                width: calc(
                    100% 
                    - 2 * (#{$input-padding-horizontal} + 2px) 
                    - #{$submit-btn-width} 
                    - #{$input-btn-ml}
                );
                padding: 5px 5px;
                &.active {
                    // When there is something in current, the clear button is displayed,
                    // so add its width to the substraction along with one additional margin left
                    width: calc(
                        100% 
                        - 2 * (#{$input-padding-horizontal} + 2px) 
                        - #{$clear-btn-width} 
                        - #{$submit-btn-width} 
                        - 2 * #{$input-btn-ml}
                    );
                }
            }

            .submit-btn, .clear-btn {
                padding: 6px 0;
                margin-left: $input-btn-ml;
            }

            .clear-btn {
                width: $clear-btn-width;
                display: none;
                &.active {
                    display: inline-block;
                }
            }
            
            .submit-btn {
                width: $submit-btn-width;
                background: black;
                color: white;
            }
        }
    
        .todo-list {
            margin-top: 20px;
    
            .todo-item {
                display: flex;
                justify-content: space-between;
                padding: 10px 10px;
                background: #eee;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
    
                .task-text {
                    display: flex;
                    align-items: center;
                    max-width: 70%;
                }
    
                .edit-btn, .delete-btn {
                    padding: 5px 10px;
                }
    
                .edit-btn {
                    background: black;
                    color: white;
                }
    
                .delete-btn {
                    margin-left: 7px;
                    background: darkred;
                    color: white;
                }
            }
        }
    }

}