@import '../_global/style.scss';

// Sidebar
$sidebar-bg: white;

// Categories Top
$categories-top-padding-horizontal: 15px;
$categories-top-padding-top: 20px;
$categories-top-padding-bottom: 15px;
$categories-heading-font-size: 1rem;
$add-icon-size: 16px; // for both plus & minus

// Buttons
$btn-padding-vertical: 7px;
$btn-width: 30px;

// Category Form
$form-padding-vertical: 10px;
$form-btn-ml: 5px;
$input-padding: 5px;

// Category Item
$link-padding-left: 30px;
$link-height: 40px;
$link-font-size: 1.1rem;
$category-btn-width: 30px;
$category-options-right: 18px;
$category-option-size: 18px;


// Sidebar - Put Inside TodoPage.js
.sidebar {
    width: $sidebar-width;
    height: calc(100vh - #{$navbar-height});
    background: $sidebar-bg;
    border-right: 1px #bbb solid;
    overflow-y: scroll;

    // Desktop
    &.desktop {
        display: none;
        @include desktop {
            display: block;
        }
    }

    // Mobile - on mobile the Sidebar gets genereated
    // into collapsed Navbar and is shown, when the toggle is clicked
    &.mobile {
        width: 100%;
        @include tablet {
            border-left: 1px #bbb solid;
        }
    }

    // Categories Top
    .categories-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $categories-top-padding-top 
                 $categories-top-padding-horizontal
                 $categories-top-padding-bottom
                 $categories-top-padding-horizontal;
        color: $color-primary;
        &.active {
            padding-bottom: 0;
        }

        // Categories Heading
        .categories-heading {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: $categories-heading-font-size;
            font-weight: normal;
        }

        // New Category Button (Plus, Minus)
        .new-category-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $btn-width;
            padding: $btn-padding-vertical 0;
            background: $color-primary;

            .category-btn-icon {
                width: $add-icon-size;
                height: $add-icon-size;
            }
        }
    }

    // Category Form - For New Category
    .category-form {
        display: none;
        padding: $form-padding-vertical 0;
        padding-left: $categories-top-padding-horizontal;
        &.active {
            display: flex;
        }

        .category-input {
            // calculate width so that it fits in nicely
            width: calc( 
                #{$sidebar-width}
                - #{$categories-top-padding-horizontal} * 2
                - #{$input-padding} * 2
                - #{$form-btn-ml}
                - #{$btn-width}
                - 2px * 2
            ); // those 2px * 2 are for input outline
            padding: $input-padding;
            &.active {
            // if clear is active, recalculate input width
            width: calc( 
                #{$sidebar-width}
                - #{$categories-top-padding-horizontal} * 2
                - #{$input-padding} * 2
                - #{$form-btn-ml} * 2
                - #{$btn-width} * 2
                - 2px * 2
            );
            }
        }

        .category-submit-btn, .category-clear-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $btn-width;
            margin-left: $form-btn-ml;
            padding: $btn-padding-vertical 0;
            background: $color-primary;
            color: white;

            .icon {
                width: $add-icon-size;
                height: $add-icon-size;
            }
        }

        .category-clear-btn {
            background: black;
        }
    }
    
    // Categories (ul)
    .categories {
        border-top: 1px #bbb solid;

        // Empty Categories Text
        .no-categories-text {
            padding: 10px 0 0 $categories-top-padding-horizontal;
        }

        // Category Item (li)
        .category-item {
            position: relative;

            // Category Link
            .link {
                display: flex;
                align-items: center;
                height: $link-height;
                padding-left: $link-padding-left;
                font-size: $link-font-size;
                letter-spacing: 1px;
                cursor: default;
            }

            // Category Options
            .options {
                position: absolute;
                top: 0;
                right: $category-options-right;
                display: flex;

                .delete-btn, .edit-btn {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: $category-btn-width;
                    height: $link-height;
                    background: transparent;
                    
                    .icon {
                        width: $category-option-size;
                        height: $category-option-size;
                    }
                }
            }

            // Item Not Active
            &:not(.active) {
                // Hover on links that are not active
                .link:hover {
                    background: #eee; 
                }
            }

            // Item Active
            &.active {
                .link {
                    background: $color-primary;
                    color: white;
                }

                .delete-btn, .edit-btn {
                    display: flex;
                    .icon {
                        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                    }
                }
            }
        }
    }
}



