@import '../_global/style.scss';

// Sidebar
$sidebar-bg: white;

// Categories Top
$categories-top-mt: 20px;
$categories-heading-font-size: 1rem;
$add-btn-padding: 5px;
$add-icon-size: 26px;

// Category Form
$category-form-mt: 5px;
$submit-btn-ml: 5px;
$submit-btn-padding: 7px 7px;
$input-padding: 5px;

// Categories
$categories-mt: 15px;
$categories-padding-horizontal: 15px;

// Category Item
$link-padding-left: 30px;
$link-height: 40px;
$link-font-size: 1.1rem;
$category-btn-width: 30px;
$category-options-right: 18px;
$category-option-size: 18px;


// Sidebar - Put Inside TodoPage.js
.sidebar {
    width: $sidebar-width;
    height: calc(100vh - #{$navbar-height});
    background: $sidebar-bg;
    border-right: 1px #bbb solid;

    // Categories Top
    .categories-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $categories-top-mt;
        padding: 0 $categories-padding-horizontal;

        // Categories Heading
        .categories-heading {
            font-weight: lighter;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: $categories-heading-font-size;
        }

        // New Category Button (Plus, Minus)
        .new-category-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            padding: $add-btn-padding;

            .category-btn-icon {
                width: $add-icon-size;
                height: $add-icon-size;
            }
        }
    }

    // Category Form - For New Category
    .category-form {
        display: none;
        margin-top: $category-form-mt;
        padding-left: $categories-padding-horizontal;
        &.active {
            display: block;
        }

        .category-input {
            padding: $input-padding;
        }

        .category-submit-btn {
            margin-left: $submit-btn-ml;
            padding: $submit-btn-padding;
            background: $color-primary;
            color: white;
        }
    }
    
    // Categories (ul)
    .categories {
        margin-top: $categories-mt;

        // Category Item (li)
        .category-item {
            position: relative;

            // Category Link
            .link {
                display: flex;
                align-items: center;
                height: $link-height;
                padding-left: $link-padding-left;
                font-size: $link-font-size;
                letter-spacing: 1px;
                cursor: default;
            }

            // Category Options
            .options {
                position: absolute;
                top: 0;
                right: $category-options-right;
                display: flex;

                .delete-btn, .edit-btn {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: $category-btn-width;
                    height: $link-height;
                    background: transparent;
                    
                    .icon {
                        width: $category-option-size;
                        height: $category-option-size;
                    }
                }
            }

            // Item Not Active
            &:not(.active) {
                // Hover on links that are not active
                .link:hover {
                    background: #eee; 
                }
            }

            // Item Active
            &.active {
                .link {
                    background: $color-primary;
                    color: white;
                }

                .delete-btn, .edit-btn {
                    display: flex;
                    .icon {
                        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                    }
                }
            }
        }
    }
}



