* {
  margin: 0;
  padding: 0;
}

* .app {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

* a {
  text-decoration: none;
  color: black;
}

* li {
  list-style: none;
}

* input {
  outline: 0;
}

* button {
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
}

.sidebar {
  width: 300px;
  height: calc(100vh - 50px);
  background: white;
  border-right: 1px #bbb solid;
}

.sidebar .categories-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 0 15px;
}

.sidebar .categories-top .categories-heading {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.sidebar .categories-top .new-category-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 5px;
}

.sidebar .categories-top .new-category-btn .category-btn-icon {
  width: 26px;
  height: 26px;
}

.sidebar .category-form {
  display: none;
  margin-top: 5px;
  padding-left: 15px;
}

.sidebar .category-form.active {
  display: block;
}

.sidebar .category-form .category-input {
  padding: 5px;
}

.sidebar .category-form .category-submit-btn {
  margin-left: 5px;
  padding: 7px 7px;
  background: #3dbd99;
  color: white;
}

.sidebar .categories {
  margin-top: 15px;
}

.sidebar .categories .category-item {
  position: relative;
}

.sidebar .categories .category-item .category-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding-left: 30px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: default;
}

.sidebar .categories .category-item .category-delete-btn {
  position: absolute;
  top: 0;
  right: 15px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
}

.sidebar .categories .category-item .category-delete-btn .delete-icon {
  width: 18px;
  height: 18px;
}

.sidebar .categories .category-item:not(.active) .category-link:hover {
  background: #eee;
}

.sidebar .categories .category-item.active .category-link {
  background: #3dbd99;
  color: white;
}

.sidebar .categories .category-item.active .category-delete-btn .delete-icon {
  -webkit-filter: invert(68%) sepia(9%) saturate(2460%) hue-rotate(112deg) brightness(93%) contrast(87%);
          filter: invert(68%) sepia(9%) saturate(2460%) hue-rotate(112deg) brightness(93%) contrast(87%);
}

.sidebar .categories .category-item:hover .category-delete-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=sidebar.css.map */