@import '../_global/style.scss';

// Sidebar
$sidebar-bg: white;

// Categories Top
$categories-top-mt: 20px;
$categories-heading-font-size: 1rem;
$add-btn-padding: 5px;
$add-icon-size: 26px;

// Category Form
$category-form-mt: 5px;
$submit-btn-ml: 5px;
$submit-btn-padding: 7px 7px;
$input-padding: 5px;

// Categories
$categories-mt: 15px;
$categories-padding-horizontal: 15px;

// Category item
$link-padding-left: 30px;
$link-padding-vertical: 10px;
$link-font-size: 1.1rem;
$link-active-border-size: 5px;
$link-active-color: $color-primary;


// Sidebar - Put Inside TodoPage.js
.sidebar {
    width: $sidebar-width;
    height: calc(100vh - #{$navbar-height});
    background: $sidebar-bg;
    border-right: 1px #bbb solid;

    // Categories Top
    .categories-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $categories-top-mt;
        padding: 0 $categories-padding-horizontal;

        // Categories Heading
        .categories-heading {
            font-weight: lighter;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: $categories-heading-font-size;
        }

        // New Category Button (Plus, Minus)
        .new-category-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            padding: $add-btn-padding;

            .category-btn-icon {
                width: $add-icon-size;
                height: $add-icon-size;
            }
        }
    }

    // Category Form - For New Category
    .category-form {
        display: none;
        margin-top: $category-form-mt;
        padding-left: $categories-padding-horizontal;
        &.active {
            display: block;
        }

        .category-input {
            padding: $input-padding;
        }

        .category-submit-btn {
            margin-left: $submit-btn-ml;
            padding: $submit-btn-padding;
            background: $color-primary;
            color: white;
        }
    }
    
    // Categories (ul)
    .categories {
        margin-top: $categories-mt;

        // Category Item (li)
        .category-item {

            // Category Link
            .category-link {
                display: block;
                padding: $link-padding-vertical 0;
                padding-left: $link-padding-left;
                font-size: $link-font-size;
                letter-spacing: 1px;
                // Hover on links that are not active
                &:not(.active):hover {
                    background: #eee; 
                    //border-left: $link-active-border-size #eee solid;
                    //padding-left: calc(#{$link-padding-left} - #{$link-active-border-size});
                }
                &.active {
                    // Calculate padding left on active, so that the Link 
                    // is at the same place, when the border shows up
                    padding-left: calc(#{$link-padding-left} - #{$link-active-border-size});
                    color: $link-active-color;
                    border-left: $link-active-border-size $color-primary solid;
                }
            }
        }
    }
}



