@import '../_global/style.scss';

// Category item
$link-padding-left: 30px;
$link-padding-vertical: 10px;
$active-border-size: 5px;

.sidebar {
    width: $sidebar-width;
    height: calc(100vh - #{$navbar-height});
    background: #eee;
    border-right: 1px #bbb solid;

    .categories-heading {
        margin-top: 20px;
        padding-left: 20px;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
    }
    
    .categories {
        margin-top: 15px;

        .category-item {

            .category-link {
                display: block;
                padding: $link-padding-vertical 0;
                padding-left: $link-padding-left;
                font-size: 18px;
                letter-spacing: 1px;
                &:hover {
                    border-left: $active-border-size #999 solid;
                    padding-left: calc(#{$link-padding-left} - #{$active-border-size});
                }
                &.active {
                    padding-left: calc(#{$link-padding-left} - #{$active-border-size});
                    background: #eee;
                    color: #3dbd99;
                    border-left: $active-border-size $color-primary solid;
                }
            }
        }
    }
}



