
@import '../_global/style.scss';

// Navbar
$navbar-padding: 10px; // for logo & expanded navbar items

// Logo
$logo-color: white;

// Links
$link-color: white;
$link-expanded-ml: 10px;
$link-collapsed-height: 50px;
$link-collapsed-pl: 25px;

// Toggler
$toggler-size: 24px;


// Navbar
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height; // in global styles.scss
    background: $color-primary;
    color: white;

    // Logo (all devices)
    .logo {
        margin-left: $navbar-padding;
        color: $logo-color;
        font-weight: bold;
    }

    // Toggle Button (mobile, tablet)
    .menu-toggler-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $navbar-height;
        height: $navbar-height;
        cursor: pointer;

        .toggler-icon {
            width: $toggler-size;
            height: $toggler-size;
        }
    }

    // Menu (mobile, tablet)
    .menu-collapse {
        position: absolute;
        top: $navbar_height;
        right: -100vw;
        width: 100vw;
        height: calc(100vh - #{$navbar-height});
        background: $color-primary;
        color: white;
        z-index: 100;
        transition: 500ms right;
        &.active {
            right: 0;
        }

        @include tablet {
            width: 300px;
            right: -300px;
        }
    }

    // Navbar Items (ul)
    .navbar-items {
        display: flex;

        // Navbar Item (li)
        .navbar-item {

            // Navbar Link
            .link {
                color: $link-color;
            }
        }

        // Expanded Navbar Items (ul, for desktop)
        &.expanded {
            display: none;
            flex-direction: row;
            margin-right: $navbar-padding;

            .navbar-item {
                margin-left: $link-expanded-ml;
                &:first-child {
                    margin-left: 0;
                }
            }

            @include desktop { 
                display: flex; 
            }
        }

        // Collapsed Navbar Items (ul, for mobile & tablet)
        &.collapsed {
            flex-direction: column;
            
            .navbar-item {

                .link {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: $link-collapsed-height;
                    border-bottom: 1px white solid;

                    .link-value {
                        padding-left: $link-collapsed-pl;
                    }
                }
            }
        }
    }

    // Don't display toggle button and menu on desktop
    .menu-toggler-container, .menu-collapse {
        @include desktop {
            display: none;
        }
    }
}