
// Global Variables
$color-primary: #3dbd99;
$navbar-height: 50px;

// Media Queries
$tablet-width: 768px;
$desktop-width: 1200px;


@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

// Global Stylings
* {
    margin: 0;
    padding: 0;

    .app {
        max-width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }
    
    a {
        text-decoration: none;
        color: black;
    }

    li {
        list-style: none;
    }

    button {
        border: 0;
        cursor: pointer;
        padding: 5px 10px;
    }
}